@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styles */

body {
  @apply bg-[#0b1220] text-white;
  font-family: 'Inter', sans-serif;
}

input, button, select, textarea {
  @apply focus:outline-none focus:ring-2 focus:ring-green-500;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #1f2937; /* gray-800 */
  border-radius: 4px;
}
